<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mp.mapper.WebScGzhMediaMapper" >
  <resultMap id="BaseResultMap" type="com.sc.mp.model.WebScGzhMedia" >
    <result column="media_id" property="mediaId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="content_source_url" property="contentSourceUrl" jdbcType="VARCHAR" />
    <result column="thumb_media_id" property="thumbMediaId" jdbcType="VARCHAR" />
    <result column="show_cover_pic" property="showCoverPic" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="thumb_url" property="thumbUrl" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sc.mp.model.WebScGzhMedia" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <insert id="insert" parameterType="com.sc.mp.model.WebScGzhMedia" >
    insert into WSC_GZH_MEDIA (media_id, title, author, 
      digest, content_source_url, thumb_media_id, 
      show_cover_pic, url, thumb_url, 
      update_time, content)
    values (#{mediaId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{digest,jdbcType=VARCHAR}, #{contentSourceUrl,jdbcType=VARCHAR}, #{thumbMediaId,jdbcType=VARCHAR}, 
      #{showCoverPic,jdbcType=CHAR}, #{url,jdbcType=VARCHAR}, #{thumbUrl,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.mp.model.WebScGzhMedia" >
    insert into WSC_GZH_MEDIA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mediaId != null" >
        media_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="contentSourceUrl != null" >
        content_source_url,
      </if>
      <if test="thumbMediaId != null" >
        thumb_media_id,
      </if>
      <if test="showCoverPic != null" >
        show_cover_pic,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="thumbUrl != null" >
        thumb_url,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="contentSourceUrl != null" >
        #{contentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="showCoverPic != null" >
        #{showCoverPic,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="thumbUrl != null" >
        #{thumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>