<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mp.mapper.WebScEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.sc.mp.model.WebScEvaluate" >
    <result column="document_id" property="documentId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="CHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="label_id" property="labelId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sc.mp.model.WebScEvaluate" >
    insert into WSC_EVALUATE (document_id, org_id, user_id, 
      kind, score, remark, label_id
      )
    values (#{documentId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{kind,jdbcType=CHAR}, #{score,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{labelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.mp.model.WebScEvaluate" >
    insert into WSC_EVALUATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>