<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>订单列表</title>
	
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/mzui.min.css}">
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
			<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">姓名</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">张三</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">性别</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">男</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">手机</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">18888888888</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">角色</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">区域管理员</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">机构</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">上海市-市辖区-徐汇区夙呈医生集团</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">区域</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">上海市-市辖区-徐汇区</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">登出</button>
				</div>
				
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area star"C:/U	sers/Chulf/AppData/Local/Temp/WeChat Files/06c0520ee21f7d1936ad65b26990f15.png"t -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main id="mescroll" class="margin mt-0 mescroll">
				<div class="dash-balance">
					<div class="dash-content relative">
						<h3 class="w-text">SuCheng</h3>
					</div>
				</div>
				
				<!-- Order area start -->
				<section class="bal-section container">
					<div id="content">
					    <div id="content-body">
					    	<div class="content-head">
								<div class="d-flex align-items-center">
								    <div class="d-flex flex-grow">
								        <div class="mr-auto">
								            <p class="mb-0">我的订单</p>
								        </div>
								    </div>
								</div>
							</div>
					        <div class="content-row">
					            <div class="content-col">
					                <img src="/img/p1.png" alt="">
					                <span>已完成</span>
					            </div>
					            <div class="content-col">
					                <img src="/img/p2.png" alt="">
					                <span>历史订单</span>
					            </div>
					            <div class="content-col">
					                <img src="/img/p3.png" alt="">
					                <span>已取消</span>
					            </div>
					        </div>
					    </div>
					</div>
				</section>
				<!-- Order area end -->
				
				<!-- 订单列表 start -->
<!-- 				<section class="container d-flex" style="padding: 30px 15px 15px;"> -->
<!-- 					<h4 class="fm-auto" style="font-size: 16px;">备休情况</h4> -->
<!-- 					<div class="form-group"> -->
<!-- 						<span>备休情况</span> -->
<!-- 						<input type="text" id="dateSelector" class="form-field"> -->
<!-- 					</div> -->
<!-- 					<input type="text" id="dateSelector" class="" placeholder="选择日期"> -->
<!-- 				</section> -->
				<section id="" class="container" style="margin-top: 10px;">
					<ul id="doclist" class="transaction-list list-unstyled"></ul>
				</section>
				<!-- 订单列表 end -->
				
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<!-- 下拉刷新 下拉加载插件 -->
	<script th:src="@{/js/mescroll.min.js}"></script>
	<!-- 日期选择插件 -->
	<script th:src="@{/js/iScroll.js}"></script>
	<script th:src="@{/js/Mdate.js}"></script>
	
	<script type="text/javascript">
		var state = 1;
		$(function() {
			var mescroll = new MeScroll("mescroll", {
				down: {
					use: true,
					auto: true,
					callback: downCallback
				}
			});
			
			//下拉刷新的回调
			function downCallback() {
				$.ajax({
					url: '/doc/toDocListInit?state=' + state,
					success: function(data) {
						if(data.code == 1){
							mescroll.endSuccess(); //无参
							//设置数据
	 						setListData(data.list, true);
						}else{
							alert(data.msg);
							mescroll.endErr();
						}
					},
					error: function(data) {
						alert("系统错误，请重试！");
						mescroll.endErr();
					}
				});
			}
			
			/*设置列表数据*/
			function setListData(data, isAppend) {
				var listDom = $("#doclist");
				
				//页面内容
				var sHtml = '';
				//临时参数
				var sTmpDate = '';
				
				for (var i = 0; i < data.length; i++) {
					var doc = data[i];
					var sDate = doc.operateStartTime.substring(0, 10);
					
					if(sTmpDate != sDate){
						if(sTmpDate == ''){
							sTmpDate = sDate;
							sHtml += "<div class='heading'>" +
										"<div class='title'><strong>" + sDate + "</strong></div>" +
									 "</div>";
							sHtml += "<div class='list section'>";
							sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
										if(doc.documentType == 0){
											sHtml += "<div class='avatar circle green outline'>普</div> ";
										}else{
											sHtml += "<div class='avatar circle red outline'>急</div> ";
										}
									sHtml = setPatientInfo(sHtml, doc);
									sHtml += "</div> " +
											 "</a> ";
						}else{
							sTmpDate = sDate;
							sHtml += "</div>";
							sHtml += "<div class='heading'>" +
										"<div class='title'><strong>" + sDate + "</strong></div>" +
									 "</div>";
							sHtml += "<div class='list section'>";
							sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
							if(doc.documentType == 0){
								sHtml += "<div class='avatar circle green outline'>普</div> ";
							}else{
								sHtml += "<div class='avatar circle red outline'>急</div> ";
							}
							sHtml = setPatientInfo(sHtml, doc);
							sHtml += "</div> " +
									 "</a> ";
						}
					}else{
						sHtml += "<div class='list section'>";
						sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
						if(doc.documentType == 0){
							sHtml += "<div class='avatar circle green outline'>普</div> ";
						}else{
							sHtml += "<div class='avatar circle red outline'>急</div> ";
						}
						sHtml = setPatientInfo(sHtml, doc);
						sHtml += "</div> " +
								 "</a> ";
					}
	        		
	        		if(sHtml != ''){
	        			sHtml += "</div><div style='height:10px;'></div>";
	        		}

					listDom.html(sHtml);
				}
			}
			
			$("#dateSelector").focus(function() {
				document.activeElement.blur();
			});
			new Mdate("dateSelector", null, dateCallback);
			
			//日期选择的回调
			function dateCallback(data) {
				alert(data);
			};
		});
		
		function goDetail(sId){
			location.href = "toDocDetail?id=" + sId;
		}
		
		function setPatientInfo(sHtml, doc){
			sHtml += "<div class='content'> " +
					 "<span style='font-size: 1.2rem;font-weight: bold;'>" + doc.patientName + "</span><br/>" +
					 "<span class='title' style='font-size: 0.9rem;'>" + doc.orgName + "</span><br/>" +
					 "<span class='title' style='font-size: 0.9rem;'>" + doc.operativeName + "</span><br/>" +
					 "<span>年龄：" + doc.patientAge + "</span>&nbsp;&nbsp;&nbsp;" +
					 "<span>性别：" + (doc.patient_sex == "0"?"男":"女") + "</span> " +
					 "<div> " +
						"<small class='text-green'>" + doc.operateStartTime + "</small>&nbsp; " +
						"<small class='muted'>" + (doc.qaUserName != null ? doc.qaUserName:"") + "</small> ";
			if(doc.documentState == '0')
				sHtml += "<div class='pull-right label red-pale text-tint'>已提交</div> ";
			else if(doc.documentState == '1')
				sHtml += "<div class='pull-right label red-pale text-tint'>已发布</div> ";
			else if(doc.documentState == '2')
				sHtml += "<div class='pull-right label red-pale text-tint'>已匹配</div> ";
			else if(doc.documentState == '3')
				sHtml += "<div class='pull-right label red-pale text-tint'>已确认</div> ";
			else if(doc.documentState == '4')
				sHtml += "<div class='pull-right label red-pale text-tint'>待完成</div> ";
			else if(doc.documentState == '5')
				sHtml += "<div class='pull-right label green text-tint'>已完成</div> ";
			else if(doc.documentState == '6')
				sHtml += "<div class='pull-right label red-pale text-tint'>已取消</div> ";
			else if(doc.documentState == '9')
				sHtml += "<div class='pull-right label red-pale text-tint'>待取消</div> ";
			sHtml += "</div> ";
			
			return sHtml;
		}
	</script>
</body>

</html>
