<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>订单列表</title>
	
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/mzui.min.css}">
	<style type="text/css">
		.menu_active{
			color:red;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">姓名</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.userName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">性别</h5>
							</div>
						</div>
						<div>
							<div th:switch="${user.sex}">
								<div th:case="'0'">
									<h6 class="text-muted menu-info">女</h6>
								</div>
								<div th:case="'1'">
									<h6 class="text-muted menu-info">男</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">手机</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.phone}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">角色</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.roleName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">机构</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.deptName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">区域</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.districtName}]]</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">登出</button>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main id="mescroll" class="margin mt-0 mescroll">
				<div class="dash-balance">
					<div class="dash-content relative">
						<img alt="" src="/img/logo.png" style="margin:0;">
					</div>
				</div>
				
				<section class="bal-section container">
					<div id="content">
					    <div id="content-body" style="border-radius: 3px;">
							<div class="content-head">
								<div class="d-flex align-items-center">
								    <div class="d-flex flex-grow">
								        <div class="d-flex mr-auto">
								            <p class="mb-0" style="font-size: 0.8rem;">我的订单</p>
								        </div>
								        <div class="mr-8">
								            <p class="mb-0 text-blue" style="font-size: 0.8rem;" onclick="btnMain()">首页</p>
								        </div>
								    </div>
								</div>
							</div>
					        <div class="content-row">
					            <div class="content-col" onclick="setDocListInit(0, 10)">
				                	<img src="/img/pending.png" style="margin: 0;">
				                	<span id="memu_0">待处理</span>
				                	<span id="scount_0" style="color: red;">()</span>
					            </div>
					            <div class="content-col" onclick="setDocListInit(1, 10)">
					                <img src="/img/history.png" style="margin: 0;">
					                <span id="memu_1">历史订单</span>
					            </div>
					            <div class="content-col" onclick="setDocListInit(2, 10)" th:if="${user.roleId=='4'}">
					                <img src="/img/cancel.png"  style="margin: 0;">
					                <span id="memu_2">已取消</span>
					            </div>
					            <div class="content-col" onclick="setDocListInit(3, 10)" th:if="${user.roleId=='5'}">
					                <img src="/img/grade.png"  style="margin: 0;">
					                <span id="memu_3">待评价</span>
					                <span id="scount_3" style="color: red;">()</span>
					            </div>
					            <div class="content-col myrest" th:if="${user.roleId=='5'}">
					                <img src="/img/rest_record.png" style="margin: 0;">
					                <span id="memu_4">我的备休</span>
					            </div>
					        </div>
					    </div>
					</div>
				</section>
				<!-- Order area end -->
				
				<!-- 订单列表 start -->
				<section id="selDocumentState" class="container d-flex hidden" style="padding: 15px 15px 15px;">
					<div class="form-group" style="margin-bottom:0;">
						<span>订单状态</span>
						<select name="dst" id="dst" class="form-field" th:if="${user.roleId=='4'}" onchange="changeDst(this)">
							<option value="10"></option>
							<option value="0">待审核</option>
							<option value="1">待分配</option>
							<option value="3">待手术</option>
							<option value="4">待完成</option>
							<option value="9">待取消</option>
						</select>
						<select name="dst" id="dst" class="form-field" th:if="${user.roleId=='5'}" onchange="changeDst(this)">
							<option value="10"></option>
							<option value="2">待接单</option>
							<option value="3">待手术</option>
						</select>
					</div>
					
				</section>
				<section id="" class="container" style="margin-top: 10px;">
					<ul id="doclist" class="transaction-list list-unstyled"></ul>
				</section>
				<!-- 订单列表 end -->
				
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<!-- 下拉刷新 下拉加载插件 -->
	<script th:src="@{/js/mescroll.min.js}"></script>
	<!-- 日期选择插件 -->
	<script th:src="@{/js/iScroll.js}"></script>
	<script th:src="@{/js/Mdate.js}"></script>
	
	<script type="text/javascript">
		var state = [[${state}]];
	
		$(function() {
			setDocListInit(state, 10);
		});
		
		function goDetail(sId){
			location.href = "toDocDetail?id=" + sId + "&state=" + state;
		}
		
		function setDocListInit(ds, dst){
			state = ds;
			
			if(ds == 0){
				$("#selDocumentState").removeClass("hidden");
			}else{
				$("#selDocumentState").addClass("hidden");
			}
			
			$("#memu_0").removeClass("menu_active");
			$("#memu_1").removeClass("menu_active");
			$("#memu_2").removeClass("menu_active");
			$("#memu_3").removeClass("menu_active");
			$("#memu_4").removeClass("menu_active");
			$("#memu_" + ds).addClass("menu_active");
			
			$("#doclist").toggleClass("loading loading-light");
			$("#doclist").html("");
			$.ajax({
				url: '/toDocListInit?ds=' + ds + '&dst=' + dst,
				success: function(data) {
					if(data.code == 1){
						//设置数据
 						setListData(data.list, data.role, true);
						$("#scount_0").text("(" + data.scount_wait + ")");
						$("#scount_3").text("(" + data.scount_de + ")");
 						$("#doclist").toggleClass("loading loading-light");
					}else{
						alert(data.msg);
					}
				},
				error: function(data) {
					alert("系统错误，请重试！");
				}
			});
		}
		
		/*设置列表数据*/
		function setListData(data, role, isAppend) {
			var listDom = $("#doclist");
			
			//页面内容
			var sHtml = '';
			//临时参数
			var sTmpDate = '';
			
			for (var i = 0; i < data.length; i++) {
				var doc = data[i];
				var sDate = doc.operateStartTime.substring(0, 10);
				
				if(sTmpDate != sDate){
					if(sTmpDate == ''){
						sTmpDate = sDate;
						sHtml += "<div class='heading'>" +
									"<div class='title'><strong>" + sDate + "</strong></div>" +
								 "</div>";
						sHtml += "<div class='list section'>";
						sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
									if(doc.documentType == 0){
										sHtml += "<div class='avatar circle green outline'>普</div> ";
									}else{
										sHtml += "<div class='avatar circle red outline'>急</div> ";
									}
								sHtml = setPatientInfo(sHtml, role, doc);
								sHtml += "</div> " +
										 "</a> ";
					}else{
						sTmpDate = sDate;
						sHtml += "</div>";
						sHtml += "<div class='heading'>" +
									"<div class='title'><strong>" + sDate + "</strong></div>" +
								 "</div>";
						sHtml += "<div class='list section'>";
						sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
						if(doc.documentType == 0){
							sHtml += "<div class='avatar circle green outline'>普</div> ";
						}else{
							sHtml += "<div class='avatar circle red outline'>急</div> ";
						}
						sHtml = setPatientInfo(sHtml, role, doc);
						sHtml += "</div> " +
								 "</a> ";
					}
				}else{
					sHtml += "<div class='list section'>";
					sHtml += "<a class='item multi-lines with-avatar' onclick='goDetail(\"" + doc.documentId + "\")'> ";
					if(doc.documentType == 0){
						sHtml += "<div class='avatar circle green outline'>普</div> ";
					}else{
						sHtml += "<div class='avatar circle red outline'>急</div> ";
					}
					sHtml = setPatientInfo(sHtml, role, doc);
					sHtml += "</div> " +
							 "</a> ";
				}
        		
        		if(sHtml != ''){
        			sHtml += "</div><div style='height:10px;'></div>";
        		}
				listDom.html(sHtml);
			}
		}
		
		function setPatientInfo(sHtml, role, doc){
			var sex = "";
			if(doc.patientSex == '0'){
				sex = "女";
			}else if(doc.patientSex == '1'){
				sex = "男";
			}
			sHtml += "<div class='content'> " +
					 "<span style='font-size: 1.2rem;font-weight: bold;'>" + doc.patientName + "</span><br/>" +
					 "<span class='title' style='font-size: 0.9rem;'>" + doc.orgName + "</span><br/>" +
					 "<span class='title' style='font-size: 0.9rem;'>" + doc.operativeName + "</span><br/>" +
					 "<span>年龄：" + doc.patientAge + "</span>&nbsp;&nbsp;&nbsp;" +
					 "<span>性别：" + sex + "</span> " +
					 "<div> " +
					 "<small class='text-green'>" + doc.operateStartTime + "</small>&nbsp; " +
					 "<small class='muted'>" + (doc.qaUserName != null ? doc.qaUserName:"") + "</small> ";
						
			if(doc.documentState == '0')
				sHtml += "<div class='pull-right label red-pale text-tint'>待审核</div> ";
			else if(doc.documentState == '1')
				sHtml += "<div class='pull-right label red-pale text-tint'>待分配</div> ";
			else if(doc.documentState == '2' && role == '4')
				sHtml += "<div class='pull-right label red-pale text-tint'>已匹配</div> ";
			else if(doc.documentState == '2' && role == '5')
				sHtml += "<div class='pull-right label red-pale text-tint'>待接单</div> ";
			else if(doc.documentState == '3' && doc.oldDocumentState != '4')
				sHtml += "<div class='pull-right label red-pale text-tint'>待手术</div> ";
			else if(doc.documentState == '3' && doc.oldDocumentState == '4')
				sHtml += "<div class='pull-right label red-pale text-tint'>退回待修改</div> ";
			else if(doc.documentState == '4')
				sHtml += "<div class='pull-right label red-pale text-tint'>待完成</div> ";
			else if(doc.documentState == '5')
				sHtml += "<div class='pull-right label green text-tint'>已完成</div> ";
			else if(doc.documentState == '6')
				sHtml += "<div class='pull-right label red-pale text-tint'>已取消</div> ";
			else if(doc.documentState == '9')
				sHtml += "<div class='pull-right label red-pale text-tint'>待取消</div> ";
			sHtml += "</div> ";
			
			return sHtml;
		}
		
		$(".menu-logout").on("click", function() {
			location.href = "logout";
		});
		
		function btnMain(){
			location.href = "/index";
		}
		
		$('.myrest').on('click', function() {
			location.href = "toRest";
		});
		
		function changeDst(obj){
			setDocListInit(0, obj.value);
		}
	</script>
</body>

</html>
