<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>医生</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">姓名</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.userName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">性别</h5>
							</div>
						</div>
						<div>
							<div th:switch="${user.sex}">
								<div th:case="'0'">
									<h6 class="text-muted menu-info">女</h6>
								</div>
								<div th:case="*">
									<h6 class="text-muted menu-info">男</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">手机</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.phone}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">角色</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.roleName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">机构</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.deptName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">区域</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.districtName}]]</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">登出</button>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main id="mescroll" class="margin mt-0 mescroll">
				<div class="dash-balance">
					<div class="dash-content relative">
						<!-- <h3 class="w-text">SuCheng</h3> -->
						<img alt="" src="/img/logo.png">
					</div>
				</div>
				
				<section class="bal-section container">
					<div id="content">
					    <div id="content-body" style="border-radius: 3px;">
					    	<div class="content-head">
								<div class="d-flex align-items-center">
								    <div class="d-flex flex-grow">
								        <div class="mr-auto">
								            <p class="mb-0">我的订单</p>
								        </div>
								    </div>
								</div>
							</div>
					        <div class="content-row">
					            <div class="content-col" onclick="goDocList(0)">
					                <img src="/img/pending.png" alt="">
					                <span>待处理</span>
					            </div>
					            <div class="content-col" onclick="goDocList(1)">
					                <img src="/img/history.png" alt="">
					                <span>历史订单</span>
					            </div>
					            <div class="content-col" onclick="goDocList(2)">
					                <img src="/img/grade.png" alt="">
					                <span>待评分</span>
					            </div>
					            <div class="content-col myrest">
					                <img src="/img/rest_record.png">
					                <span>我的备休</span>
					            </div>
					        </div>
					    </div>
					</div>
				</section>
				<!-- Order area end -->
				
				<section class="container mt-10">
					<div class="resources-card-wrapper">
						<div class="ref-statistics mr-10">
                          	<div class="d-flex flex-column ml-md-2">
	                          	<h4 class="mt-10 mb-5 ">[[${statsDc.today}]]</h4>
	                            <p class="text-muted font-weight-medium">今日手术量</p>
                        	</div>
	                    </div>
	                    <div class="ref-statistics ml-10">
                          	<div class="d-flex flex-column ml-md-2">
	                          	<h4 class="mt-10 mb-5 ">[[${statsDc.month}]]</h4>
	                            <p class="text-muted font-weight-medium">本月手术量</p>
                        	</div>
	                    </div>
					</div>
					<div class="resources-card-wrapper">
						<div class="ref-statistics mr-10">
                          	<div class="d-flex flex-column ml-md-2">
	                          	<h4 class="mt-10 mb-5 ">[[${statsDc.year}]]</h4>
	                            <p class="text-muted font-weight-medium">当年手术量</p>
                        	</div>
	                    </div>
	                    <div class="ref-statistics ml-10">
                          	<div class="d-flex flex-column ml-md-2">
	                          	<h4 class="mt-10 mb-5 ">[[${statsDc.sum}]]</h4>
	                            <p class="text-muted font-weight-medium">总手术量</p>
                        	</div>
	                    </div>
					</div>
				</section>
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	
	<script type="text/javascript">
		
		$('.myrest').on('click', function() {
			location.href = "toRest";
		});
		
		function goDocList(ds){
			location.href = "toDocList?ds=" + ds;
		}
		
		$(".menu-logout").on("click", function() {
			location.href = "logout";
		});
	</script>
</body>

</html>
