<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>区域管理员</title>
	
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/Mdate.css}">
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">姓名</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.userName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">性别</h5>
							</div>
						</div>
						<div>
							<div th:switch="${user.sex}">
								<div th:case="'0'">
									<h6 class="text-muted menu-info">女</h6>
								</div>
								<div th:case="*">
									<h6 class="text-muted menu-info">男</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">手机</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.phone}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">角色</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.roleName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">机构</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.deptName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">区域</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.districtName}]]</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">登出</button>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main id="mescroll" class="margin mt-0 mescroll">
				<div class="dash-balance">
					<div class="dash-content relative">
						<img alt="" src="/img/logo.png">
					</div>
				</div>
				
				<section class="bal-section container">
					<div id="content">
					    <div id="content-body" style="border-radius: 3px;">
					    	<div class="content-head">
								<div class="d-flex align-items-center">
								    <div class="d-flex flex-grow">
								        <div class="mr-auto">
								            <p class="mb-0">我的订单</p>
								        </div>
								    </div>
								</div>
							</div>
					        <div class="content-row">
					            <div class="content-col" onclick="goDocList(0)">
					                <img src="/img/pending.png" alt="">
					                <span>待处理</span>
					            </div>
					            <div class="content-col" onclick="goDocList(1)">
					                <img src="/img/history.png" alt="">
					                <span>历史订单</span>
					            </div>
					            <div class="content-col" onclick="goDocList(3)">
					                <img src="/img/cancel.png" alt="">
					                <span>已取消</span>
					            </div>
					        </div>
					    </div>
					</div>
				</section>
				<!-- Order area end -->
				
				<!-- 备休区域 start -->
				<section class="container d-flex" style="padding: 30px 15px 15px;">
					<!-- <h4 class="fm-auto" style="font-size: 16px;">备休情况</h4> -->
					<div class="form-group">
						<span>备休情况</span>
						<input type="text" id="dateSelector" class="form-field">
					</div>
					<!-- <input type="text" id="dateSelector" class="" placeholder="选择日期"> -->
				</section>
				<section id="" class="container">
					<div class="sp sp-wave"></div>
					<ul id="restList" class="transaction-list list-unstyled"></ul>
				</section>
				<!-- 备休区域 end -->
				<div class="form-label-divider" style="display: none;"><span>没有更多数据了</span></div>
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<!-- 下拉刷新 下拉加载插件 -->
	<script th:src="@{/js/mescroll.min.js}"></script>
	<!-- 日期选择插件 -->
	<script th:src="@{/js/iScroll.js}"></script>
	<script th:src="@{/js/Mdate.js}"></script>
	
	<script type="text/javascript">
		var date = "";
		$(function() {
			var mescroll = new MeScroll("mescroll", {
				//第一个参数"mescroll"对应上面布局结构div的id
				//如果您的下拉刷新是重置列表数据,那么down完全可以不用配置,具体用法参考第一个基础案例
				//解析: down.callback默认调用mescroll.resetUpScroll(),而resetUpScroll会将page.num=1,再触发up.callback
				down: {
					use: false,
					auto: false,
					//下拉刷新的回调,别写成downCallback(),多了括号就自动执行方法了
					callback: downCallback
				},
				up: {
					use: true,
					auto: true,
					//上拉加载的回调
					callback: upCallback
				}
			});
			
			//下拉刷新的回调
			function downCallback() {
				$.ajax({
					url: 'calendarScroll?page=' + pageNum + "&limit=" + pageSize + "&date=" + date,
					success: function(data) {
						//联网成功的回调,隐藏下拉刷新的状态;
						mescroll.endSuccess(); //无参
						//设置列表数据
						setListData(data, false);
					},
					error: function(data) {
						//联网失败的回调,隐藏下拉刷新的状态
						mescroll.endErr();
					}
				});
			}
			
			//上拉加载的回调 page = {num:1, size:10}; num:当前页 默认从1开始, size:每页数据条数,默认10
			function upCallback(page) {
				getDataList(page.num, page.size, function(data) {
					//成功的回调,隐藏上拉加载的状态
					mescroll.endSuccess(data.length);//传参:数据的总数; mescroll会自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
					//设置列表数据
					setListData(data, true);
				}, function() {
					//失败的回调,隐藏上拉加载的状态
					mescroll.endErr();
				});
			}
			
			var downIndex=0;
			/*加载备休数据*/
			function getDataList(pageNum, pageSize, successCallback, errorCallback) {
				/* setTimeout(function () {
					$.ajax({
						url: 'calendarScroll?page=' + pageNum + "&limit=" + pageSize + "&date=" + date,
						success: function(result) {
							setTimeout(successCallback&&successCallback(result.data), 2000);
						},
						error: function() {
							errorCallback&&errorCallback();
						}
					});
	            }, 2000); */
	            setTimeout(function() {
	            	$.ajax({
	    				type: "GET",
	    				url: 'calendarScroll?page=' + pageNum + "&limit=" + pageSize + "&date=" + date,
	    				success: function(result) {
	    					successCallback&&successCallback(result.data);
	    				},
	    				error: function() {
	    					errorCallback&&errorCallback();
	    				}
	    			});
	            }, 300);
			}
	
			/*设置列表数据*/
			function setListData(data, isAppend) {
				$('.sp-wave').hide();
				if (data.length > 0) {
					$(".form-label-divider").attr("style", "display: none;");
					var listDom = document.getElementById("restList");
					for (var i = 0; i < data.length; i++) {
						var newObj = data[i];
						
						var str = '<div class="d-flex align-items-center justify-content-between">';
						str += '<div class="fl-100 align-items-center">';
						str += '<div class="ml-10">';
						str += '<h5 class="coin-name">' + newObj.name + '</h5>';
						str += '<small class="text-muted">' + newObj.phone
								+ '</small>';
						str += '</div>';
						str += '</div>';
						str += '<div class="fm-auto align-items-center mr-10">';
						str += '<div class="ml-10">';
						str += '<small class="text-muted">' + newObj.dept
								+ '</small>';
						str += '</div>';
						str += '</div>';
						str += '<div class="fr-70">';
						str += '<small class="d-block mb-0 txt-green">'
								+ (newObj.begin).substring(11, 16) + '-'
								+ (newObj.end).substring(11, 16) + '</small>';
						str += '<small class="text-muted d-block">'
								+ (newObj.begin).substring(0, 10) + '</small>';
						str += '</div>';
						str += '</div>';
						var liDom = document.createElement("li");
						liDom.innerHTML = str;
	
						if (isAppend) {
							listDom.appendChild(liDom);//加在列表的后面,上拉加载
						} else {
							listDom.insertBefore(liDom, liDom.firstChild);//加在列表的前面,下拉刷新
						}
					}
				} else {
					$(".form-label-divider").attr("style", "display: block;");
				}
			}
			
			$("#dateSelector").focus(function() {
				document.activeElement.blur();
			});
			new Mdate("dateSelector", null, dateCallback);
			
			//日期选择的回调
			function dateCallback(callbackDate) {
				$(".sp-wave").show();
				$("#restList").empty();
				date = callbackDate;
				var newPage = {};
				newPage.num = 1;
				newPage.size = 10;
				upCallback(newPage);
			}
			
			$(".menu-logout").on("click", function() {
				location.href = "logout";
			});
		});
		
		function goDocList(ds){
			location.href = "toDocList?ds=" + ds;
		}
	</script>
</body>

</html>
