<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>区域管理员</title>
	
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/Mdate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/jalendar.css}" />
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">姓名</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.userName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">性别</h6>
							</div>
						</div>
						<div>
							<div th:switch="${user.sex}">
								<div th:case="'0'">
									<h6 class="text-muted menu-info">女</h6>
								</div>
								<div th:case="*">
									<h6 class="text-muted menu-info">男</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">手机</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.phone}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">角色</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.roleName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">机构</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.deptName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">区域</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.districtName}]]</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">退出</button>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main id="mescroll" class="margin mt-0 mescroll">
				<div class="dash-balance">
					<div class="dash-content relative">
						<img alt="" src="/img/logo.png">
					</div>
				</div>
				
				<section class="bal-section container">
					<div id="content">
					    <div id="content-body" style="border-radius: 3px;">
					    	<div class="content-head">
								<div class="d-flex align-items-center">
								    <div class="d-flex flex-grow">
								        <div class="mr-auto">
								            <p class="mb-0">我的订单</p>
								        </div>
								    </div>
								</div>
							</div>
					        <div class="content-row">
					            <div class="content-col" onclick="goDocList(0)">
					                <img src="/img/pending.png" alt="">
					                <span>待处理</span>
					                <span style="color: red;">([[${scount_wait}]])</span>
					            </div>
					            <div class="content-col" onclick="goDocList(1)">
					                <img src="/img/history.png" alt="">
					                <span>历史订单</span>
					            </div>
					            <div class="content-col" onclick="goDocList(2)">
					                <img src="/img/cancel.png" alt="">
					                <span>已取消</span>
					            </div>
					        </div>
					    </div>
					</div>
				</section>
				<!-- Order area end -->
				
				
				<!-- 备休区域 start -->
				<section class="container">
					<div id="yourId" class="jalendar">
						<div class="sp sp-wave"></div>
					</div>
				</section>
				<!-- 备休区域 end -->
				
				
				
				<!-- 备休区域 start -->
				<!-- <section class="container d-flex" style="padding: 30px 15px 15px;">
					<h4 class="fm-auto" style="font-size: 16px;">备休情况</h4>
					<div class="form-group">
						<span>备休时间</span>
						<input type="text" id="dateSelector" class="form-field">
					</div>
					<input type="text" id="dateSelector" class="" placeholder="选择日期">
				</section>
				<section class="wallets-list container">
					<div class="sp sp-wave"></div>
					<div id="dayList"></div>
				</section> -->
				<!-- 备休区域 end -->
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<script th:src="@{/js/jalendar.min.js}" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
		var date = "";
		$(function() {
			getDataList();
			$("#dateSelector").focus(function() {
				document.activeElement.blur();
			});
		});
		
		/*加载备休数据*/
		function getDataList() {
			setTimeout(function() {
				$.ajax({
					url: 'calendars',
					success : function(result) {
						$('.sp-wave').hide();
						setListData(result.data);
						renderCalendar();
					},
					error : function() {
						$('.sp-wave').hide();
					}
				});
			}, 500);
		}
		
		/*设置列表数据*/
		function setListData(data) {
			var listDom = document.getElementById("yourId");
			for (var i = 0; i < data.length; i++) {
				var newObj = data[i];
				var divDom = document.createElement("div");
				divDom.setAttribute("class", "added-event");
				divDom.setAttribute("data-date", newObj.day);
				divDom.setAttribute("data-title", newObj.title);
				divDom.setAttribute("data-id", newObj.calendarId);
				
				listDom.appendChild(divDom);
			}
		}
		
		function renderCalendar() {
			$('#yourId').jalendar({
			    color: '#FFFFFF', // Unlimited
			    color2: '#FFFFFF', // Unlimited
			    lang: 'CN',
			    selectingAfterToday: true,
			    done: function(data) {
			    	
			    }
			});
		}
		
		function goDocList(ds){
			location.href = "toDocList?ds=" + ds;
		}
		
		$(".menu-logout").on("click", function() {
			location.href = "logout";
		});
	</script>
</body>

</html>
