<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>超级管理员</title>
	
	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
	<!-- Fontawesome font file css -->
	<!-- <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" th:href="@{/css/swiper.min.css}">
	<!-- <link rel="stylesheet" th:href="@{/css/animate.min.css}"> -->
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/Mdate.css}">
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
			<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">姓名</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">张三</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">性别</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">男</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">手机</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">18888888888</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">角色</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">区域管理员</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">机构</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">上海市-市辖区-徐汇区夙呈医生集团</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h5 class="text-muted">区域</h5>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">上海市-市辖区-徐汇区</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">登出</button>
				</div>
				
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main class="margin mt-0">
				<div class="dash-balance">
					<div class="dash-content relative">
						<h3 class="w-text">SuCheng</h3>
					</div>
				</div>
				
				<!-- charts start -->
				<section class="bal-section container refer">
					<!-- Swiper -->
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="chart-body">
							    	<div class="chart-head purp">
										<div class="d-flex align-items-center">
										    <div class="d-flex flex-grow">
										        <div class="mr-auto">
										        	<h3 class="w-text mt-0 mb-0 chart-title">近7日</h3>
										        </div>
										        <div class="ref-bouns">
										            <h6 class="mt-0 chart-star">3</h6>
										            <small>今日</small>
										        </div>
										    </div>
										</div>
									</div>
									<div class="row align-items-center chart-content">
										<div class="col-12">
											<div class="advertising-wrapper">
												<canvas id="container1" class="chart-container"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="chart-body">
							    	<div class="chart-head purp">
										<div class="d-flex align-items-center">
										    <div class="d-flex flex-grow">
										        <div class="mr-auto">
										        	<h5 class="w-text mt-0 mb-0 chart-title">近30日</h5>
										        </div>
										        <div class="ref-bouns">
										            <h3 class="mt-0 chart-star">52</h3>
										            <small>本月</small>
										        </div>
										    </div>
										</div>
									</div>
									<div class="row align-items-center chart-content">
										<div class="col-12">
											<div class="advertising-wrapper">
												<canvas id="container2" class="chart-container"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="chart-body">
							    	<div class="chart-head purp">
										<div class="d-flex align-items-center">
										    <div class="d-flex flex-grow">
										        <div class="mr-auto">
										        	<h5 class="w-text mt-0 mb-0 chart-title">本年度</h5>
										        </div>
										        <div class="ref-bouns">
										            <h3 class="mt-0 chart-star">666</h3>
										            <small>当年</small>
										        </div>
										    </div>
										</div>
									</div>
									<div class="row align-items-center chart-content">
										<div class="col-12">
											<div class="advertising-wrapper">
												<canvas id="container3"class="chart-container"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</section>
				
				<!-- charts area end -->
				
				<section class="wallets-list container">
					<!--expendable list item -->
					<div class="expandable-item accordion" data-group="accordion">
						<div class="expandable-header purp">
							<i class="list-arrow fa fa-angle-down"></i>
							<h3 class="list-title">统计报表</h3>
						</div>
						<div class="expandable-content">
							<div class="padding-content">
								<div class="recent-trans">
									<div class="form-group">
										<span>开始时间</span>
										<input type="text" id="dateSelector_begin" class="form-field">
									</div>
									<div class="form-group">
										<span>结束时间</span>
										<input type="text" id="dateSelector_end" class="form-field">
									</div>
									<div id="distpicker11">
										<div class="form-group">
											<label class="sr-only" for="province">province</label>
											<select class="form-control" id="province"></select>
										</div>
										<div class="form-group">
											<label class="sr-only" for="city">city</label>
											<select class="form-control" id="city"></select>
										</div>
										<div class="form-group">
											<label class="sr-only" for="district">district</label>
											<select class="form-control" id="district"></select>
										</div>
									</div>
									<div class="form-group">
										<label class="sr-only" for="organ">organ</label>
										<select class="form-control" id="organ"></select>
									</div>
									<div>
										<a href="#" id="" class="button circle block yellow">查询</a>
									</div>
                                </div>
							</div>
						</div>
					</div>
				</section>
				
				<section id="" class="container">
					<ul class="transaction-list list-unstyled">
							<li>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="ml-10">
											<h6 class="coin-name">上海禾新医院</h6>
											<small class="text-muted">上海市-直辖市-浦东新区</span></small>
										</div>
									</div>
									<div>
										<small class="d-block mb-0 txt-red">43</small>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="ml-10">
											<h6 class="coin-name">医疗机构A</h6>
											<small class="text-muted">北京市-直辖市-朝阳区</span></small>
										</div>
									</div>
									<div>
										<small class="d-block mb-0 txt-red">102</small>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="ml-10">
											<h6 class="coin-name">医疗机构B</h6>
											<small class="text-muted">安徽省-合肥市-瑶海区</span></small>
										</div>
									</div>
									<div>
										<small class="d-block mb-0 txt-red">61</small>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="ml-10">
											<h6 class="coin-name">医疗机构A</h6>
											<small class="text-muted">北京市-直辖市-朝阳区</span></small>
										</div>
									</div>
									<div>
										<small class="d-block mb-0 txt-red">102</small>
									</div>
								</div>
							</li>
							<li>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="ml-10">
											<h6 class="coin-name">医疗机构B</h6>
											<small class="text-muted">安徽省-合肥市-瑶海区</span></small>
										</div>
									</div>
									<div>
										<small class="d-block mb-0 txt-red">61</small>
									</div>
								</div>
							</li>
						</ul>
				</section>
				
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Swiper JS -->
    <script th:src="@{/js/swiper.min.js}"></script>
    <!-- <script th:src="@{/js/swiper.animate.min.js}"></script> -->
	<!-- F2 阿里可视化插件 -->
	<script src="https://gw.alipayobjects.com/os/lib/antv/f2/3.7.0/dist/f2.min.js"></script>
	
	<!-- 下拉刷新 下拉加载插件 -->
	<script th:src="@{/js/mescroll.min.js}"></script>		
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<!-- 日期选择插件 -->
	<script th:src="@{/js/iScroll.js}"></script>
	<script th:src="@{/js/Mdate.js}"></script>
	
	<script th:src="@{/js/distpicker.data.js}"></script>
	<script th:src="@{/js/distpicker.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	
	<script type="text/javascript">
		$('#moreBtn').on("click", function() {
			window.location.href = "/mp/more";
		});
		
		var swiper = new Swiper('.swiper-container', {
			pagination : '.swiper-pagination'
		});

		const data = [ {
			time : '11.23',
			value : 5
		}, {
			time : '11.24',
			value : 4
		}, {
			time : '11.25',
			value : 5
		}, {
			time : '11.26',
			value : 7
		}, {
			time : '11.27',
			value : 6
		}, {
			time : '11.28',
			value : 4
		}, {
			time : '11.29',
			value : 3
		} ];

		const data2 = [ {
			time : '31',
			value : 3
		}, {
			time : '1',
			value : 1
		}, {
			time : '2',
			value : 1
		}, {
			time : '3',
			value : 4
		}, {
			time : '4',
			value : 5
		}, {
			time : '5',
			value : 3
		}, {
			time : '6',
			value : 2
		}, {
			time : '7',
			value : 2
		}, {
			time : '8',
			value : 5
		}, {
			time : '9',
			value : 1
		}, {
			time : '10',
			value : 5
		}, {
			time : '11',
			value : 3
		}, {
			time : '12',
			value : 5
		}, {
			time : '13',
			value : 4
		}, {
			time : '14',
			value : 6
		}, {
			time : '15',
			value : 8
		}, {
			time : '16',
			value : 5
		}, {
			time : '17',
			value : 1
		}, {
			time : '18',
			value : 5
		}, {
			time : '19',
			value : 3
		}, {
			time : '20',
			value : 3
		}, {
			time : '21',
			value : 4
		}, {
			time : '22',
			value : 6
		}, {
			time : '23',
			value : 5
		}, {
			time : '24',
			value : 2
		}, {
			time : '25',
			value : 5
		}, {
			time : '26',
			value : 7
		}, {
			time : '27',
			value : 1
		}, {
			time : '28',
			value : 4
		}, {
			time : '29',
			value : 3
		} ];

		const data3 = [ {
			time : '1',
			value : 45
		}, {
			time : '2',
			value : 53
		}, {
			time : '3',
			value : 34
		}, {
			time : '4',
			value : 64
		}, {
			time : '5',
			value : 61
		}, {
			time : '6',
			value : 22
		}, {
			time : '7',
			value : 50
		}, {
			time : '8',
			value : 47
		}, {
			time : '9',
			value : 41
		}, {
			time : '10',
			value : 49
		}, {
			time : '11',
			value : 53
		}, {
			time : '12',
			value : null
		} ];
		const chart = new F2.Chart({
			id : 'container1',
			pixelRatio : window.devicePixelRatio
		});

		chart.source(data, {
			value : {
				tickCount : 5,
				min : 0
			},
			day : {
				range : [ 0, 1 ]
			}
		});
		chart.tooltip({
			custom : true,
			triggerOn : [ 'touchstart', 'touchmove' ],
			triggerOff : 'touchend',
			showXTip : true,
			showYTip : true,
			snap : true,
			crosshairsType : 'xy',
			crosshairsStyle : {
				lineDash : [2]
			}
		});
		chart.axis('time', {
			label : function label(text, index, total) {
				const textCfg = {};
				if (index === 0) {
					textCfg.textAlign = 'left';
				} else if (index === total - 1) {
					textCfg.textAlign = 'right';
				}
				return textCfg;
			}
		});
		chart.scale('value', {
			alias : '手术量'
		});
		chart.line().position('time*value').color('#6495ED');;
		chart.point().position('time*value').style({
			stroke : '#fff',
			lineWidth : 1
		});
		chart.render();

		const chart2 = new F2.Chart({
			id : 'container2',
			pixelRatio : window.devicePixelRatio
		});

		chart2.source(data2, {
			value : {
				tickCount : 5,
				min : 0
			},
			day : {
				range : [ 0, 1 ]
			}
		});
		chart2.tooltip({
			custom : true,
			triggerOn : [ 'touchstart', 'touchmove' ],
			triggerOff : 'touchend',
			showXTip : true,
			showYTip : true,
			snap : true,
			crosshairsType : 'xy',
			crosshairsStyle : {
				lineDash : [ 2 ]
			}
		});
		chart2.axis('time', {
			label : function label(text, index, total) {
				const textCfg = {};
				if (index === 0) {
					textCfg.textAlign = 'left';
				} else if (index === total - 1) {
					textCfg.textAlign = 'right';
				}
				return textCfg;
			}
		});
		chart2.scale('value', {
			alias : '手术量'
		});
		chart2.line().position('time*value').color('#6495ED');
		chart2.point().position('time*value').style({
			stroke : '#fff',
			lineWidth : 1
		});
		chart2.render();

		const chart3 = new F2.Chart({
			id : 'container3',
			pixelRatio : window.devicePixelRatio
		});

		chart3.source(data3, {
			value : {
				tickCount : 5,
				min : 0
			},
			day : {
				range : [ 0, 1 ]
			}
		});
		chart3.tooltip({
			custom : true,
			triggerOn : [ 'touchstart', 'touchmove' ],
			triggerOff : 'touchend',
			showXTip : true,
			showYTip : true,
			snap : true,
			crosshairsType : 'xy',
			crosshairsStyle : {
				lineDash : [ 2 ]
			}
		});
		chart3.axis('time', {
			label : function label(text, index, total) {
				const textCfg = {};
				if (index === 0) {
					textCfg.textAlign = 'left';
				} else if (index === total - 1) {
					textCfg.textAlign = 'right';
				}
				return textCfg;
			}
		});
		chart3.scale('value', {
			alias : '手术量'
		});
		chart3.line().position('time*value').color('#6495ED');
		chart3.point().position('time*value').style({
			stroke : '#fff',
			lineWidth : 1
		});
		chart3.render();
		
		$("#dateSelector_begin").focus(function() {
			document.activeElement.blur();
		});
		new Mdate("dateSelector_begin");
		$("#dateSelector_end").focus(function() {
			document.activeElement.blur();
		});
		new Mdate("dateSelector_end");
		$("#distpicker11").distpicker({
			autoSelect: false
		});
	</script>
</body>

</html>
