<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>超级管理员</title>
	
	<!-- Fontawesome font file css -->
	<!-- <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.style.css}">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<!-- <link rel="stylesheet" th:href="@{/css/animate.min.css}"> -->
	<link rel="stylesheet" th:href="@{/css/mescroll.min.css}">
	<link rel="stylesheet" th:href="@{/css/Mdate.css}">
	<link rel="stylesheet" th:href="@{css/jquery.autocompleter.css}">
	<link rel="stylesheet" th:href="@{css/resweet.css}">
</head>

<body>
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Menu navigation start -->
				<div class="nav-container menu-container">
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">姓名</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.userName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">性别</h6>
							</div>
						</div>
						<div>
							<div th:switch="${user.sex}">
								<div th:case="'0'">
									<h6 class="text-muted menu-info">女</h6>
								</div>
								<div th:case="*">
									<h6 class="text-muted menu-info">男</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">手机</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.phone}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">角色</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.roleName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">机构</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.deptName}]]</h6>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between container-list">
						<div class="menu-list-flex align-items-center">
							<div>
								<h6 class="text-muted">区域</h6>
							</div>
						</div>
						<div>
							<h6 class="text-muted menu-info">[[${user.districtName}]]</h6>
						</div>
					</div>
					
					<button class="button circle red block menu-logout">退出</button>
				</div>
				<!-- Menu navigation end -->
			</nav>
		</div>
		
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			
			<!-- Page content start -->
			<main class="margin mt-0">
				<div class="dash-balance">
					<div class="dash-content relative">
						<img alt="" src="/img/logo.png">
					</div>
				</div>
				
				<section class="bal-section container">
					<div class="trader-info">
						<ul class="trader-info-list list-unstyled">
							<li>
								<div class="profile1"></div>
								<h2>[[${statsYMD.day}]]</h2>
								<small class="txt-muted">日手术量</small>
							</li>
							<li>
								<div class="profile2"></div>
								<h2>[[${statsYMD.month}]]</h2>
								<small class="txt-muted">月手术量</small>
							</li>
							<li>
								<div class="profile3"></div>
								<h2>[[${statsYMD.year}]]</h2>
								<small class="txt-muted">年手术量</small>
							</li>
						</ul>
					</div>
				</section>

				<!-- charts start -->
				<section class="section container">
					<div class="chart-body">
						<div class="align-items-center chart-content">
							
							<!-- 分类统计start -->
							<div>
								<div class="d-flex justify-content-between" style="margin-bottom: 5px;">
									<div class="slide-menu twoRow">
										<span id="sortbg"></span>
										<ul id="sortList">
											<li data-type="or" data-popup="organPopup">机构</li>
											<li data-type="s" class="active">总量</li>
											<!-- <li data-type="op" data-popup="operationPopup">手术</li> -->
										</ul>
									</div>
									<div class="RadioStyle2" style="flex: 1; margin-left: 16px; visibility: hidden;">
										<div>
											<input type="radio" name="timeKit" id="week"  class="radioCheck" />
											<label for="week">周</label>
											<input type="radio" name="timeKit" id="month" class="radioCheck" checked />
											<label for="month" style="margin: 0 10px;">月</label>
											<input type="radio" name="timeKit" id="year"  class="radioCheck" />
											<label for="year">年</label>
										</div>
									</div>
									<div class="RadioStyle3" style="flex: 0 0 40px;">
										<label>报表</label>
									</div>
								</div>
							</div>
							<!-- 分类统计end -->
							
							<div class="col-12">
								<div class="advertising-wrapper">
									<canvas id="yearCount" class="chart-container"></canvas>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- charts end -->
				
				<!-- pie charts start -->
				<div class="box">
					<div class="box-content front">
						<section class="section container">
							<div class="chart-body">
								<div class="align-items-center chart-content">
									<div class="col-12">
										<div class="advertising-wrapper">
											<div class="fa fa-retweet" style="color: #1E90FF; position: absolute; right:-5px; top: 5px;"></div>
											<canvas id="cityCount" class="chart-container"></canvas>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="box-content back">
						<section class="section container">
							<div class="chart-body">
								<div class="align-items-center chart-content">
									<div class="col-12">
										<div class="advertising-wrapper">
											<div class="fa fa-retweet" style="color: #1E90FF; position: absolute; right:-5px; top: 5px;"></div>
											<canvas id="workCount" class="chart-container"></canvas>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- pie charts area end -->
				
				<!-- 医疗机构下拉多选模态框 start -->
				<div class="popup-overlay-multiselect" id="organPopup">
					<!-- if you dont want overlay add class .no-overlay -->
					<div class="popup-container">
						<div class="popup-header" style="display: none;">
							<span class="popup-close organ-close" data-dismiss="true"><i class="fa fa-times"></i></span>
						</div>
						<div class="popup-content">
							<div class="justify-content-between">
								<div class="selectPickerWrapper showOrgan">
									<select class="hidden"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 医疗机构下拉多选模态框 end -->
				<!-- 手术大类下拉多选模态框 start -->
				<div class="popup-overlay-multiselect2" id="operationPopup">
					<!-- if you dont want overlay add class .no-overlay -->
					<div class="popup-container">
						<div class="popup-content">
							<div class="justify-content-between">
								<div class="selectPickerWrapper showOperation">
									<select class="hidden"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 手术大类下拉多选模态框 end -->
			</main>
			<!-- Page content end -->
		</div>
	</div>
	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>
	
	<!-- JQuery library file. requared all pages -->
	<script th:src="@{/js/jquery.min.js}"></script>
    <!-- <script th:src="@{/js/swiper.animate.min.js}"></script> -->
	<!-- F2 阿里可视化插件 -->
	<script src="https://gw.alipayobjects.com/os/lib/antv/f2/3.7.3/dist/f2-all.min.js"></script>
	
	<!-- 下拉刷新 下拉加载插件 -->
	<script th:src="@{/js/mescroll.min.js}"></script>		
	<!-- Template global script file. requared all pages -->
	<script th:src="@{/js/global.script.js}"></script>
	<script th:src="@{/js/MiniDialog-es5.min.js}"></script>
	<script th:src="@{/js/simple.switch.js}"></script>
	<script th:src="@{/js/multiSelect.js}"></script>
	
	<script type="text/javascript">
		var multiVals = [];
		// 按总量分类统计按钮
		var sumRadio = false;
		// 周月年单选按钮
		var weekRadio = false;
		var monthRadio = false;
		var yearRadio = false;
		var chart = new F2.Chart({
			id : 'yearCount',
			pixelRatio : window.devicePixelRatio
		});
		
		$(document).ready(function() {
			initOrganPopup();
			drawMonthCount();
			drawTopCity();
			drawDoctorWork();
		});
		
		new Slideicon($("#sortList"), {
			index:1,
			cover:$("#sortbg"),
			callback:function (data) {
				if (data == "s" && !sumRadio) {
					statsforSum();
				}
			}
		});
		
		// 初始化医疗机构下拉多选框
		function initOrganPopup() {
			$.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	url: "initOrgansMultiSelect",
		    	contentType: "application/json",
		    	success: function (result) {
        			var map = result.data;
        			$(".showOrgan").data("init",JSON.stringify(map));
        			$(".showOrgan").mySelect({
        				showSearch:true,
        				multiple:true
        			});
        			$(".fa-search").on("click", function() {
        		    	let checks = getCheckedValue();
        		    	if (checks.vals.length == 0) {
        		    		alert("未选择医疗机构");
        		    		return;
        		    	}
        		    	multiVals = checks.vals;
        		    	statsforOrgan("month");	// 默认统计当月
        		    	$("#month").prop("checked", true);
        		    	$('.organ-close').click();
        			});
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		/* 近3年每月手术统计 */
		function drawMonthCount() {
			$.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	url: "statsMonths",
		    	contentType: "application/json",
		    	success: function (result) {
        			if (result.code == 0) {
        				sumRadio = true;
        				var data = result.data;
        				/* var chart = new F2.Chart({
    		    			id : 'yearCount',
    		    			pixelRatio : window.devicePixelRatio
    		    		}); */
    		    		chart.source(data);
    		    		chart.tooltip({
    		    			showTitle: true,
    		    			showCrosshairs : true
    		    		});
						chart.scale('date', {
							tickCount:10
						});
    		    		chart.legend({
    		    			align: 'center',
    		    			marker: function marker(x, y, r, ctx) {
    		    				ctx.lineWidth = 1;
    		    				ctx.strokeStyle = ctx.fillStyle;
    		    				ctx.moveTo(x - r - 3, y);
    		    				ctx.lineTo(x + r + 3, y);
    		    				ctx.stroke();
    		    				ctx.arc(x, y, r, 0, Math.PI * 2, false);
    		    				ctx.fill();
    		    			}
    		    		});
    		    		chart.line().position('date*count').color('name');
    		    		chart.point().position('date*count').color('name').style({
    		    			lineWidth : 1,
    		    			stroke : '#fff'
    		    		});
    		    		chart.render();
        			} else {
        				
        			}
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		function drawTopCity() {
			$.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	url: "statsCity",
		    	contentType: "application/json",
		    	success: function (result) {
        			if (result.code == 0) {
        				var data2 = result.data;
        				const chart2 = new F2.Chart({
							id: 'cityCount',
							pixelRatio: window.devicePixelRatio
						});
						chart2.source(data2);
						chart2.coord('polar', {
							transposed: true,
							radius: 0.75
						});
						chart2.legend(false);
						chart2.axis(false);
						chart2.tooltip(false);
						// 添加饼图文本
						chart2.pieLabel({
							sidePadding: 40,
							label1: function label1(data2, color) {
								return {
									text: data2.cityName,
									fill: color
								};
							},
							label2: function label2(data2) {
								return {
									text: data2.count,
									fill: '#808080',
									fontWeight: 'bold'
								};
							}
						});
						chart2.interval()
							.position('pieConst*count')
							.color('cityCode', ['#1890FF', '#13C2C2', '#2FC25B', '#FACC14', '#F04864'])
							.adjust('stack');
						chart2.render();
					} else {
        					
        			}
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		function drawDoctorWork() {
			$.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	url: "statsWork",
		    	contentType: "application/json",
		    	success: function(result) {
        			if (result.code == 0) {
        				var data3 = result.data;
        				var sum = 0;
        				data3.forEach(function(obj) {
        					sum += obj.count;
        				});
        				const map = {};
        				data3.forEach(function(obj) {
							map[obj.workDesc] = Math.round((obj.count / sum) * 100) + '%';
						});
        				
						const chart3 = new F2.Chart({
							id: 'workCount',
							pixelRatio: window.devicePixelRatio,
							padding: [20, 'auto']
						});
						chart3.source(data3, {
							percent: {
								formatter: function formatter(val) {
									return val + '%';
								}
							}
						});
						chart3.tooltip(false);
						chart3.legend({
							position: 'bottom',
							align: 'center',
							clickable: false,
							itemFormatter: function itemFormatter(val) {
								return val + ' ' + map[val];
							}
						});
						chart3.coord('polar', {
							transposed: true,
							innerRadius: 0.6,
							radius: 0.75
						});
						chart3.axis(false);
						chart3.interval()
							.position('pieConst*count')
							.color('workDesc', ['#2FC25B', '#3BA4FF'])
							.adjust('stack');
						
						chart3.guide().html({
							position: ['50%', '45%'],
							html: `<div style="width: 250px; height: 40px; text-align: center;">
								<div style="font-size: 16px">医生</div>
								<div style="font-size: 24px">` + sum + `</div>
								</div>`
						});
						chart3.render();
        			} else {
        				
        			}
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		$(".RadioStyle3").on("click", function() {
			location.href = "toReporting";
		});
		
		$(".box-content").on("click", function() {
			$(".front").addClass("box-temp");
			$(".box-temp").removeClass("front");
			$(".back").addClass("front");
			$(".front").removeClass("back");
			$(".box-temp").addClass("back");
			$(".back").removeClass("box-temp");
		});
		
		$(".radioCheck").on('click', function() {
			$(this).prop("checked", true);
			if (($(this).attr('id') == "week") && !weekRadio) {
				statsforOrgan("week");
			} else if (($(this).attr('id') == "month") && !monthRadio) {
				statsforOrgan("month");
			} else if (($(this).attr('id') == "year") && !yearRadio) {
				statsforOrgan("year");
			}
		});
		
		function getCheckedValue() {
			let checkedArrValue = [];
			$(".select-picker-options-list-item").each(function() {
				if ($(this).find('.duihao-checked').length > 0) {
					let org = {};
					org.name = $.trim($(this).text());
					org.id = $.trim($(this).data("val")) || null;
					checkedArrValue.push(org);
				}
			});
			return {
				vals: checkedArrValue,
			};
		}
		
		function statsforOrgan(timeType) {
			var jsonData = JSON.stringify({"data": multiVals, "type": timeType});
			$.ajax({
		    	type: "POST",
		    	data: jsonData,
		    	dataType: "json",
		    	url: 'statsOrgans',
		    	contentType: "application/json",
		    	success: function (result) {
		    		sumRadio = false;
		    		if (timeType == "week") {
		    			weekRadio = true;
						monthRadio = false;
						yearRadio = false;
		    		} else if (timeType == "month") {
		    			monthRadio = true;
		    			weekRadio = false;
						yearRadio = false;
		    		} else {
		    			yearRadio = true;
		    			weekRadio = false;
		    			monthRadio = false;
		    		}
		    		$(".RadioStyle2").attr("style", "visibility: visible");
		    		chart.changeData(result.data);
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		function statsforSum() {
			$.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	url: 'statsMonths',
		    	contentType: "application/json",
		    	success: function (result) {
		    		sumRadio = true;
		    		weekRadio = false;
					monthRadio = false;
					yearRadio = false;
		    		$(".RadioStyle2").attr("style", "visibility: hidden");
		    		chart.changeData(result.data);
		    	},
		    	error: function() {
		    		
		    	}
			});
		}
		
		$(".menu-logout").on("click", function() {
			location.href = "logout";
		});
	</script>
</body>

</html>
